@import url("https://cdn.syncfusion.com/ej2/material.css");


.gantt{

        background-color: #ededed;
            flex: 4;
            padding: 10px;
            color: gray;
            border-radius: 10px;
}